<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="AbercrombieTests" >
	<!--<parameter name="browser" value="ch"/>-->
	<listeners>
        <listener class-name="com.paxotech.abercrombie.listenner.ExtentReporterNG" />
    </listeners>
	<test name="Abercrombie Header">
		<classes>
			<class name="com.paxotech.abercrombie.tests.AbercrombieSignInPageTabFunctionality"/>
		</classes>
	</test>
	<!--  	<class name="com.paxotech.abercrombie.tests.AbercrombieHeaderFunctionality" />
		</classes>
	</test>
	  <test name="Abercrombie Footer">
		
		<classes>
			<class name="com.paxotech.abercrombie.tests.AbercrombieFooterFunctionality" />
		</classes>
	</test>
	<test name="AbercrombieBecomeAMember"> 
		<classes> 
			<class name="com.paxotech.abercrombie.tests.AbercrombieBecomeAMemberTabFunctionality"/> 
		</classes> 
	</test>
	<test name="AbercrombieFacebookPage">
		<classes>
			<class name="com.paxotech.abercrombie.tests.AbercrombieFacebookLoginOptionPageFunctionality"/>
			<class name="com.paxotech.abercrombie.tests.AbercrombieFacebookLoginOptionPageTab"/>
		</classes>
		
	</test>
	<test name="AbercrombieSigninPage">
		<classes>
			<class name="com.paxotech.abercrombie.tests.AbercrombieSignInPageFunctionality"/>
			<class name="com.paxotech.abercrombie.tests.AbercrombieSignInPageTabFunctionality"/>
		</classes>
		
	</test>-->


</suite>